<mat-toolbar color="primary">
  <span>
    <a routerLink="" mat-button>
      <mat-icon>local_movies</mat-icon>Movies
    </a>
  </span>
 

  <app-autorizado [rol]="'admin'">
    <ng-container autorizado>
      <div>
        <a mat-button routerLink="generos">Movie Genres</a>
      </div>
    </ng-container>
  </app-autorizado>

  <div class="espacio">

  </div>

  <app-autorizado>
    <ng-container autorizado>
      <span>Hola, {{seguridadService.obtenerCampoJWT('email')}} </span>
      <a mat-button (click)="seguridadService.logout()">Logout</a>
    </ng-container>
    <ng-container noAutorizado>
      <a mat-button routerLink="login">Login</a>
      <a mat-button routerLink="registro">Register</a>
    </ng-container>
  </app-autorizado>

</mat-toolbar>
